// The time filter buttons

// Container for the buttons
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 4%;
}

.button {
    // font
    font-family: $font-alt;
    font-size: $h2-size;
    color: $accent-colour;
    font-weight: normal;

    // box
    background: whitesmoke;
    border: none;
    border-radius: 5px;

    // margin & padding
    padding: 4px 15px 10px 15px;
    margin: 0 10px;

    // shadow
    box-shadow: 0 0 20px #000000;


    cursor: $cursor-pointer;
    filter: opacity(0.8);
    transition: all 200ms;

    // Grow on hover
    &:hover {
        transform: scale(1.3);
    }
}

.selected {
    filter: opacity(1);
    font-weight: 700;
}