// The up/down buttons that scrolls smoothly to the top and bottom of the web page

// Main div holding both buttons
.scroll-buttons {
    position: fixed;
    top: 3vmin;
    right: 3vmin;

    // The button images
    img {
        display: block;
        margin-bottom: 1rem;

        // Smaller images on mobile to take up less screen space
        @include mobile-layout() {
            height: 48px;
        }
    }
}