// This is the Card with the User's info & stats on their user page

$things-accent: #5cfaff;

// The Main container of the User Profile
// Used to center the profile card and allow for width overflow
.user-profile {
    display: grid;
    place-items: center;
}

// The coloured card holding the profile info
.user-profile-card {
    // Width
    width: 60vw;

    // Size
    min-height: 30vh;
    height: fit-content;

    // Grid layout
    display: grid;
    // | avatar | info info info |
    grid-template-columns: 25% 1fr;

    // Colour & Design
    @extend %card;

    // Mobile - Taking up almost full width and more space for avatar
    @include mobile-layout() {
        grid-template-columns: 30% 1fr;
        width: 90vw;
    }
}

// Cointainer for the profile picture
.avatar-container {
    display: grid;
    place-items: center;

    // Profile picture
    .avatar {
        border-radius: 100%;
        height: 20vmin;
        max-height: 250px;
    }
}

// This is where all the text goes
.user-info {
    margin: 2% 0%;

    // Resetting paragraph margins
    p {
        margin: 0;

        // Mobile - smaller font size
        @include mobile-layout() {
            font-size: 1.5vh;
        }
    }


    // "User has XXX currency things"
    .user-things {
        margin-bottom: 2rem;

        // Same decoration and style as regular H1, but smaller, left-aligned and inline to be used with p tags
        h1 {
            font-size: 4vmin;
            text-align: left;
            margin: 0;
            display: inline-block;
        }

        p {
            display: inline-block;
            text-align: right;
            color: $things-accent;

            // Mobile - Break into next line, left-aligned, margin at the bottom
            @include mobile-layout() {
                display: block;
                text-align: left;
                margin-top: 0;
                margin-bottom: 20px;
            }
        }
    }

    // The list of user statistics
    .stats {
        // Grid layout
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));

        // Mobile - One stat per row, left-aligned, smaller gap
        @include mobile-layout() {
            grid-template-columns: 1fr;
            place-items: start;
            margin-left: 0;
            gap: 0.5rem;
        }
    }

}